# 다음 영화 크롤링 해서 DataFrame 생성하고 csv로 저장하기

In [1]:
from bs4 import BeautifulSoup
from urllib.request import urlopen
import pandas as pd

In [2]:
url = "https://movie.daum.net/ranking/boxoffice/weekly"
page = urlopen(url)
soup = BeautifulSoup(page, 'html.parser')

In [3]:
# 순위 / 영화제목 가져와서 리스트 만들기 

#mainContent > div > div.box_boxoffice > ol > li > div > div.thumb_cont > strong > a
li_list = soup.select("#mainContent .link_txt")

count = 0 # 순위 매기는 숫자 
titleLists = [] # 영화제목 리스트 
countLists = [] # 순위 리스트 
for list in li_list : 
    count += 1 
    print(count, list.string.strip())
    countLists.append(count)
    titleLists.append(list.string.strip())

1 탑건: 매버릭
2 마녀(魔女) Part2. The Other One
3 범죄도시 2
4 브로커
5 버즈 라이트이어
6 쥬라기 월드: 도미니언
7 극장판 윌벤져스 : 수상한 캠핑 대소동
8 극장판 포켓몬스터DP: 기라티나와 하늘의 꽃다발 쉐이미
9 헤어질 결심
10 룸 쉐어링
11 니 부모 얼굴이 보고 싶다
12 로스트 시티
13 모어
14 니얼굴
15 애프터 양

In [4]:
# Lists 확인 
print(countLists)
print(titleLists)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
['탑건: 매버릭', '마녀(魔女) Part2. The Other One', '범죄도시 2', '브로커', '버즈 라이트이어', '쥬라기 월드: 도미니언', '극장판 윌벤져스 : 수상한 캠핑 대소동', '극장판 포켓몬스터DP: 기라티나와 하늘의 꽃다발 쉐이미', '헤어질 결심', '룸 쉐어링', '니 부모 얼굴이 보고 싶다', '로스트 시티', '모어', '니얼굴', '애프터 양']

In [5]:
# countLists만으로 DataFrame 생성 
df = pd.DataFrame(data = countLists, columns = ['순위'])
df

    순위
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9   10
10  11
11  12
12  13
13  14
14  15

In [6]:
# 기존 df에 컬럼과 List 추가하기 
df['영화제목'] = pd.Series(titleLists) # Series는 R에서의 벡터 
df

    순위                            영화제목
0    1                         탑건: 매버릭
1    2     마녀(魔女) Part2. The Other One
2    3                          범죄도시 2
3    4                             브로커
4    5                        버즈 라이트이어
5    6                    쥬라기 월드: 도미니언
6    7           극장판 윌벤져스 : 수상한 캠핑 대소동
7    8  극장판 포켓몬스터DP: 기라티나와 하늘의 꽃다발 쉐이미
8    9                          헤어질 결심
9   10                           룸 쉐어링
10  11                  니 부모 얼굴이 보고 싶다
11  12                          로스트 시티
12  13                              모어
13  14                             니얼굴
14  15                           애프터 양

In [7]:
# csv로 저장 

df.to_csv("../Data/DaumList.csv", encoding='utf-8', index=False)

In [8]:
# csv 불러와서 확인 

pd.read_csv("../Data/DaumList.csv")

    순위                            영화제목
0    1                         탑건: 매버릭
1    2     마녀(魔女) Part2. The Other One
2    3                          범죄도시 2
3    4                             브로커
4    5                        버즈 라이트이어
5    6                    쥬라기 월드: 도미니언
6    7           극장판 윌벤져스 : 수상한 캠핑 대소동
7    8  극장판 포켓몬스터DP: 기라티나와 하늘의 꽃다발 쉐이미
8    9                          헤어질 결심
9   10                           룸 쉐어링
10  11                  니 부모 얼굴이 보고 싶다
11  12                          로스트 시티
12  13                              모어
13  14                             니얼굴
14  15                           애프터 양

--- 
# 네이버 영화 랭킹 가져와서 csv 저장하기

In [9]:
url = "https://movie.naver.com/movie/sdb/rank/rmovie.naver"
page = urlopen(url)
soup = BeautifulSoup(page, 'html.parser')

In [10]:
# 크롤링 
#old_content > table > tbody > tr:nth-child(2) > td.title > div > a
li_list = soup.select("#old_content > table > tbody > tr > td.title > div > a")[:5]
print(li_list)

[<a href="/movie/bi/mi/basic.naver?code=81888" title="탑건: 매버릭">탑건: 매버릭</a>, <a href="/movie/bi/mi/basic.naver?code=196367" title="마녀(魔女) Part2. The Other One">마녀(魔女) Part2. The Other One</a>, <a href="/movie/bi/mi/basic.naver?code=192608" title="범죄도시2">범죄도시2</a>, <a href="/movie/bi/mi/basic.naver?code=196854" title="브로커">브로커</a>, <a href="/movie/bi/mi/basic.naver?code=198413" title="헤어질 결심">헤어질 결심</a>]

In [11]:
# 리스트 만들기 
count = 0 # 순위 매기는 숫자 
titleLists = [] # 영화제목 리스트 
countLists = [] # 순위 리스트 
for list in li_list : 
    count += 1 
    print(count, list.string.strip())
    countLists.append(count)
    titleLists.append(list.string.strip())

1 탑건: 매버릭
2 마녀(魔女) Part2. The Other One
3 범죄도시2
4 브로커
5 헤어질 결심

In [12]:
# dict -> df 
df_dict = {'Index' : countLists, 'Title'  :titleLists}
df = pd.DataFrame(df_dict)
df

   Index                        Title
0      1                      탑건: 매버릭
1      2  마녀(魔女) Part2. The Other One
2      3                        범죄도시2
3      4                          브로커
4      5                       헤어질 결심

In [13]:
# df 저장 
df.to_csv("../Data/naverRanking.csv", encoding='utf-8', index=False)

In [14]:
# 읽어오기 
pd.read_csv("../Data/naverRanking.csv")

   Index                        Title
0      1                      탑건: 매버릭
1      2  마녀(魔女) Part2. The Other One
2      3                        범죄도시2
3      4                          브로커
4      5                       헤어질 결심