# 데이터베이스 
- 규모가 크지 않은 데이터라면 csv와 json 형식으로 사용해도 문제는 없음.
- 데이터 규모가 굉장히 크거나 복잡하면 데이터베이스를 사용하는 것이 편리.

### 장점 
- 데이터와 관련된 모든 처리를 하나의 소프트웨어로 할 수 있음
- 여러 데이터의 속성을 연관시키며 저장 가능.
- 중복된 데이터를 허용하지 않는 제약을 둘 수 있음
- 데이터의 정합성을 확보.
- 데이터에 동시 접근했을 경우 문제 처리.
- 대량의 데이터를 조금씩 읽어 사용할 수 있으며 정렬 등도 쉽게 처리함.

### SQLite
: 가볍게 파일 하나로 사용할 수 있는 데이터베이스

In [1]:
import sqlite3

#sqlite Database에 연결하기
dbpath = "../Data/test.sqlite"
conn = sqlite3.connect(dbpath)

# 테이블을 생성하고 데이터 넣기
curs = conn.cursor()
curs.executescript(
    """
    /* item 테이블이 이미 있다면 제거 */
    DROP TABLE IF EXISTS items;

    /* 테이블 생성하기 */
    CREATE TABLE items(
        item_id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT UNIQUE,
        price INTEGER
    );

    /* 데이터 넣기 */
    INSERT INTO items(name,price) VALUES('Apple', 800);    
    INSERT INTO items(name,price) VALUES('Orange', 700);    
    INSERT INTO items(name,price) VALUES('Banana', 430);    
    """
)

In [2]:
# 위의 조작을 데이터베이스에 반영하기
conn.commit()

In [8]:
# 데이터 추출하기
curs = conn.cursor()
curs.execute("SELECT * FROM items")
item_list = curs.fetchall()

# 출력하기 
for it in item_list:
    print(it)

(1, 'Apple', 800)
(2, 'Orange', 700)
(3, 'Banana', 430)

In [10]:
# 데이터 넣기
curs = conn.cursor()
curs.execute("INSERT INTO items (name,price) VALUES (?,?)",("Mango",5200))
conn.commit()

In [12]:
# 여러 데이터를 연속으로 넣기
curs = conn.cursor()
data = [("Kiwi", 4000),("Grape",8000),("Peach",9400)]
curs.executemany("INSERT INTO items (name,price) VALUES (?,?)",data)
conn.commit()

In [14]:
# 4000 ~ 7000원 사이의 데이터 추출하기
curs = conn.cursor()
price_range = (4000,7000)
curs.execute("SELECT * FROM items WHERE price between ? AND ?",price_range)
item_list = curs.fetchall()

# 출력하기 
for it in item_list:
    print(it)

(4, 'Mango', 5200)
(5, 'Kiwi', 4000)

---
# MySQL 연결

In [2]:
!pip install pymysql

Traceback (most recent call last):
  File "/Users/tj/opt/anaconda3/bin/pip", line 11, in <module>
    sys.exit(main())
  File "/Users/tj/opt/anaconda3/lib/python3.9/site-packages/pip/_internal/cli/main.py", line 68, in main
    command = create_command(cmd_name, isolated=("--isolated" in cmd_args))
  File "/Users/tj/opt/anaconda3/lib/python3.9/site-packages/pip/_internal/commands/__init__.py", line 94, in create_command
    module = importlib.import_module(module_path)
  File "/Users/tj/opt/anaconda3/lib/python3.9/importlib/__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1030, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1007, in _find_and_load
  File "<frozen importlib._bootstrap>", line 986, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 680, in _load_unlocked
  File "<frozen importlib._bootstrap_external>", line 850, in exec_module
  File "<frozen importlib._bootstrap>", line 228, in _call_with_frames_removed
  File "/Users/tj/opt/anaconda3/lib/python3.9/site-packages/pip/_internal/commands/install.py", line 14, in <module>
    from pip._internal.cli.req_command import (
  File "/Users/tj/opt/anaconda3/lib/python3.9/site-packages/pip/_internal/cli/req_command.py", line 21, in <module>
    from pip._internal.index.package_finder import PackageFinder
  File "/Users/tj/opt/anaconda3/lib/python3.9/site-packages/pip/_internal/index/package_finder.py", line 32, in <module>
    from pip._internal.req import InstallRequirement
  File "/Users/tj/opt/anaconda3/lib/python3.9/site-packages/pip/_internal/req/__init__.py", line 8, in <module>
    from .req_install import InstallRequirement
  File "/Users/tj/opt/anaconda3/lib/python3.9/site-packages/pip/_internal/req/req_install.py", line 26, in <module>
    from pip._internal.operations.build.metadata import generate_metadata
ModuleNotFoundError: No module named 'pip._internal.operations.build'

In [1]:
import pymysql

In [32]:
# Connection
conn = pymysql.connect(host="127.0.0.1", user="root", password="qwer1234",\
                        db = "education", charset="utf8")

In [33]:
# Connection 으로 부터 Cursor 생성
curs = conn.cursor()

In [34]:
# SQL 문장
sql = "select * from student"
curs.execute(sql)

15

In [35]:
# Data Fetch
rows = curs.fetchall()
print(rows)

(('b002', '관우', '심리학과', '010-222', '서울'), ('b003', '장비', '경제학과', '010-333', '서울'), ('c001', '조조', '국문학과', '016-111', '경기'), ('c002', '여포', '심리학과', '016-222', '경기'), ('c003', '손견', '경제학과', '016-333', '경기'), ('d001', '홍길동', '수학과', '017-001', '광주'), ('S001', '박소명', '컴퓨터공학과', '123-4567', None), ('S002', '최민국', '컴퓨터공학과', '234-5678', None), ('S003', '이승호', '국문학과', '345-6789', None), ('S004', '정수봉', '국문학과', '456-7890', None), ('S005', '김상진', '사학과', '567-8901', None), ('S006', '황정숙', '사학과', '678-9012', None), ('w001', '조조', '국문학과', '016-111', '경기'), ('w002', '여포', '심리학과', '016-222', '경기'), ('w003', '손견', '경제학과', '016-333', '경기'))

In [31]:
# Connection 종료
conn.close()

In [36]:
# list 변환
rowList = list(rows)
print(rowList)

[('b002', '관우', '심리학과', '010-222', '서울'), ('b003', '장비', '경제학과', '010-333', '서울'), ('c001', '조조', '국문학과', '016-111', '경기'), ('c002', '여포', '심리학과', '016-222', '경기'), ('c003', '손견', '경제학과', '016-333', '경기'), ('d001', '홍길동', '수학과', '017-001', '광주'), ('S001', '박소명', '컴퓨터공학과', '123-4567', None), ('S002', '최민국', '컴퓨터공학과', '234-5678', None), ('S003', '이승호', '국문학과', '345-6789', None), ('S004', '정수봉', '국문학과', '456-7890', None), ('S005', '김상진', '사학과', '567-8901', None), ('S006', '황정숙', '사학과', '678-9012', None), ('w001', '조조', '국문학과', '016-111', '경기'), ('w002', '여포', '심리학과', '016-222', '경기'), ('w003', '손견', '경제학과', '016-333', '경기')]

In [8]:
# data type 확인
type(rowList)

list

In [9]:
# 필요한 부분 데이터 빼오기
print(rowList[0])
print(rowList[0][1])

('b002', '관우', '심리학과', '010-222', '서울')
관우

# Insert Data #1

In [37]:
# Connection
conn = pymysql.connect(host="127.0.0.1", user="root", password="qwer1234",\
                        db = "education", charset="utf8")

# Connection 으로 부터 Cursor 생성
curs = conn.cursor()

In [38]:
# SQL 문장
sql = "insert into student (scode, sname, sdept, sphone, saddress) values (%s, %s, %s, %s, %s)"

In [39]:
# insert 실행
curs.execute(sql,('j001','유비','국문학과','010-1111','서울'))
curs.execute(sql,('j002','관우','컴퓨터공학과','010-2222','서울'))
curs.execute(sql,('j003','장비','심리학과','010-3333','서울'))

1

In [40]:
conn.commit

# Insert Data #2

In [17]:
# Connection
conn = pymysql.connect(host="127.0.0.1", user="root", password="qwer1234",\
                        db = "education", charset="utf8")

# Connection 으로 부터 Cursor 생성
curs = conn.cursor()

In [18]:
data = (
    ('w001','조조','국문학과','016-111','경기'),
    ('w002','여포','심리학과','016-222','경기'),
    ('w003','손견','경제학과','016-333','경기'),
)

In [19]:
# SQL 문장
sql = "insert into student (scode, sname, sdept, sphone, saddress) values (%s, %s, %s, %s, %s)"

In [20]:
# insert 실행
curs.executemany(sql,data)

IntegrityError: (1062, "Duplicate entry 'w001' for key 'PRIMARY'")

In [21]:
conn.commit()

---
# select의 내용을 dataFrame으로 보기

In [49]:
!pip install sqlalchemy

Traceback (most recent call last):
  File "/Users/tj/opt/anaconda3/bin/pip", line 11, in <module>
    sys.exit(main())
  File "/Users/tj/opt/anaconda3/lib/python3.9/site-packages/pip/_internal/cli/main.py", line 68, in main
    command = create_command(cmd_name, isolated=("--isolated" in cmd_args))
  File "/Users/tj/opt/anaconda3/lib/python3.9/site-packages/pip/_internal/commands/__init__.py", line 94, in create_command
    module = importlib.import_module(module_path)
  File "/Users/tj/opt/anaconda3/lib/python3.9/importlib/__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1030, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1007, in _find_and_load
  File "<frozen importlib._bootstrap>", line 986, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 680, in _load_unlocked
  File "<frozen importlib._bootstrap_external>", line 850, in exec_module
  File "<frozen importlib._bootstrap>", line 228, in _call_with_frames_removed
  File "/Users/tj/opt/anaconda3/lib/python3.9/site-packages/pip/_internal/commands/install.py", line 14, in <module>
    from pip._internal.cli.req_command import (
  File "/Users/tj/opt/anaconda3/lib/python3.9/site-packages/pip/_internal/cli/req_command.py", line 21, in <module>
    from pip._internal.index.package_finder import PackageFinder
  File "/Users/tj/opt/anaconda3/lib/python3.9/site-packages/pip/_internal/index/package_finder.py", line 32, in <module>
    from pip._internal.req import InstallRequirement
  File "/Users/tj/opt/anaconda3/lib/python3.9/site-packages/pip/_internal/req/__init__.py", line 8, in <module>
    from .req_install import InstallRequirement
  File "/Users/tj/opt/anaconda3/lib/python3.9/site-packages/pip/_internal/req/req_install.py", line 26, in <module>
    from pip._internal.operations.build.metadata import generate_metadata
ModuleNotFoundError: No module named 'pip._internal.operations.build'

In [50]:
import pandas as pd
from sqlalchemy import create_engine

In [52]:
engine = create_engine("mysql+pymysql://root:qwer1234@127.0.0.1:3306/education")
conn = engine.connect()

In [53]:
data = pd.read_sql_table('student',conn)
data

   scode sname   sdept    sphone saddress
0   b002    관우    심리학과   010-222       서울
1   b003    장비    경제학과   010-333       서울
2   c001    조조    국문학과   016-111       경기
3   c002    여포    심리학과   016-222       경기
4   c003    손견    경제학과   016-333       경기
5   d001   홍길동     수학과   017-001       광주
6   S001   박소명  컴퓨터공학과  123-4567     None
7   S002   최민국  컴퓨터공학과  234-5678     None
8   S003   이승호    국문학과  345-6789     None
9   S004   정수봉    국문학과  456-7890     None
10  S005   김상진     사학과  567-8901     None
11  S006   황정숙     사학과  678-9012     None
12  w001    조조    국문학과   016-111       경기
13  w002    여포    심리학과   016-222       경기
14  w003    손견    경제학과   016-333       경기

In [54]:
conn.close()

---
# dataFrame을 Database로 insert 하기

In [55]:
column = ['rank','title']
movies = pd.read_csv("../Data/DaumList.csv")
movies.columns = column
movies.head()

   rank                        title
0     1                      탑건: 매버릭
1     2  마녀(魔女) Part2. The Other One
2     3                       범죄도시 2
3     4                          브로커
4     5                     버즈 라이트이어

In [56]:
engine = create_engine("mysql+pymysql://root:qwer1234@127.0.0.1:3306/daum")
conn = engine.connect()

In [57]:
movies.to_sql(name='movie', con= engine, if_exists='append', index=False)

In [58]:
daum = pd.read_sql_table('movie',conn)
daum

    rank                           title
0      1                         탑건: 매버릭
1      2     마녀(魔女) Part2. The Other One
2      3                          범죄도시 2
3      4                             브로커
4      5                        버즈 라이트이어
5      6                    쥬라기 월드: 도미니언
6      7           극장판 윌벤져스 : 수상한 캠핑 대소동
7      8  극장판 포켓몬스터DP: 기라티나와 하늘의 꽃다발 쉐이미
8      9                          헤어질 결심
9     10                           룸 쉐어링
10    11                  니 부모 얼굴이 보고 싶다
11    12                          로스트 시티
12    13                              모어
13    14                             니얼굴
14    15                           애프터 양

In [59]:
books = pd.read_csv("../Data/ridibooks.csv")
books.head()

   Rank     bookTitle                                       bookContents
0     1           역행자  <역행자> 오타쿠 흙수저에서 월 1억 자동수익을 실현한 무자본 연쇄창업마,\r\n라...
1     2          작별인사  <작별인사> 누구도 도와줄 수 없는 상황, 혼자 헤쳐나가야 한다\r\n지켜야 할 약...
2     3  인플레이션에서 살아남기  <인플레이션에서 살아남기> \n\n40년 만에 찾아온 인플레의 역습, \r\n당신의...
3     4    변화하는 세계 질서  <변화하는 세계 질서> \n\n《원칙 Principles: Life & Work》으...
4     5          피스타운  <피스타운> -“여긴 너무 비현실적이야, 그렇지 않아?”\r\n-뭐든지 이룰 수 있...

In [62]:
engine = create_engine("mysql+pymysql://root:qwer1234@127.0.0.1:3306/ridibooks")
conn = engine.connect()

In [63]:
books.to_sql(name='books', con= engine, if_exists='append', index=False)

In [64]:
ridi = pd.read_sql_table('books',conn)
ridi

     Rank        bookTitle                                       bookContents
0       1              역행자  <역행자> 오타쿠 흙수저에서 월 1억 자동수익을 실현한 무자본 연쇄창업마,\r\n라...
1       2             작별인사  <작별인사> 누구도 도와줄 수 없는 상황, 혼자 헤쳐나가야 한다\r\n지켜야 할 약...
2       3     인플레이션에서 살아남기  <인플레이션에서 살아남기> \n\n40년 만에 찾아온 인플레의 역습, \r\n당신의...
3       4       변화하는 세계 질서  <변화하는 세계 질서> \n\n《원칙 Principles: Life & Work》으...
4       5             피스타운  <피스타운> -“여긴 너무 비현실적이야, 그렇지 않아?”\r\n-뭐든지 이룰 수 있...
..    ...              ...                                                ...
195   196              데미안  <데미안> 데미안을 통해 참다운 어른이 되어 가는 소년 싱클레어의 이야기.\r\n한...
196   197           합리적 남자  <합리적 남자> \n\n작가는 인터넷 공간에서 롤로 토마시라는 필명으로 활동하며 전...
197   198  개정판 | 현명한 투자자 1  <개정판 | 현명한 투자자 1> \n\n가치투자의 아버지 벤저민 그레이엄의 《현명한...
198   199    나의 월급 독립 프로젝트  <나의 월급 독립 프로젝트> \n\n종잣돈 480만원으로 시작해 3년 만에 30억 ...
199   200     하이 아웃풋 매니지먼트  <하이 아웃풋 매니지먼트> \n\n★★★★★ 미국 아마존 초장기 베스트셀러, 201...

[200 rows x 3 columns]

---