In [3]:
var01 = 3
var02 = 4

In [3]:
print('덧셈 : ',var01+var02)
print('뺄셈 : ',var01-var02)
print('곱셈 : ',var01*var02)
print('실수 나눗셈 : ',var01/var02)
print('정수 나눗셈 몫 : ',var01//var02)
print('정수 나눗셈 나머지 : ',var01%var02)
print('제곱 : ', var01**2)
print('제곱 : ',pow(var01,2))

덧셈 :  7
뺄셈 :  -1
곱셈 :  12
실수 나눗셈 :  0.75
정수 나눗셈 몫 :  0
정수 나눗셈 나머지 :  3
제곱 :  9
제곱 :  9

# 파이썬 모듈을 이용한 수학계산

In [1]:
import math

In [4]:
# 거듭제곱
math.pow(var01,2)

9.0

In [5]:
# 제곱근
math.sqrt(var02)

2.0

In [10]:
# sin45^2 + cos45^2
math.sin(45)**2 + math.cos(45)**2

1.0

# 난수 발생

In [11]:
# 난수발생 모듈 불러오기
import random

In [15]:
random.randint(1, 100)

5

In [21]:
lotto_list = list(range(1,46))
random.sample(lotto_list,6)

[22, 42, 4, 3, 11, 27]

In [24]:
# 반올림
print(round(123.456,1))
print(round(123.456,2))
print(round(123.456,3))

123.5
123.46
123.456

In [29]:
# 올림
print(math.ceil(1.1))
print(math.ceil(1.9))

# 내림
print(math.floor(1.1))
print(math.floor(1.9))

2
2
1
1

In [34]:
# 메모리에 있는 변수 보기
dir()

['In',
 'Out',
 '_',
 '_10',
 '_12',
 '_14',
 '_15',
 '_16',
 '_17',
 '_19',
 '_20',
 '_21',
 '_27',
 '_28',
 '_30',
 '_31',
 '_4',
 '_5',
 '_6',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'lotto_list',
 'math',
 'os',
 'quit',
 'random',
 'sys',
 'var02']

In [31]:
var01

3

In [32]:
# 메모리에 있는 변수 제거
del var01

In [33]:
var01

NameError: name 'var01' is not defined

# 관계 연산자

In [35]:
num1 = 100
num2 = 20

In [40]:
print(num1 == num2)
print(num1 != num2)
print(num1 > num2)
print(num1 < num2)
print(num1 >= num2)
print(num1 <= num2)

False
True
True
False
True
False

# 논리 연산자

In [43]:
print((num1 >= 50) & (num2 <= 10) )
print((num1 >= 50) | (num2 <= 10) )
print((num1 >= 50) and (num2 <= 10) )
print((num1 >= 50) or (num2 <= 10) )

False
True
False
True

# 부정 연산자

In [50]:
not(num1 >= 50)

False

In [54]:
# OS 명령어 사용
!ls
!pwd

01.Preview.ipynb              =
02. 변수와 자료형.ipynb
/Users/reum/Documents/Python/1. Basic/Note

In [56]:
# 문자열
var01 = 'Hello World!'
var01

'Hello World!'

In [57]:
var01 = """
    Hello World!
    12345
    대한민국
"""
var01
print(var01)

    Hello World!
    12345
    대한민국

In [58]:
# 쌍따옴표와 홀따옴표의 사용
var01 = "My father's wife is my mother"
var02 = 'He says "I love you."'
print(var01)
print(var02)

My father's wife is my mother
He says "I love you."

In [62]:
# 문자열 연산 (덧셈)
var01 = "Python"
var02 = "is fun"

print(var01+var02)
print(var01,var02)

Pythonis fun
Python is fun

In [63]:
# 문자열 연산(곱셈)
print(var01 * 3)

PythonPythonPython

In [69]:
# 문자열 indexing 과 Slicing
str = "abcdefghijklmn"
print(str[0])
print(str[0:3])
print(str[-1])
print(str[5:])
print(str[:5])
print(str[0]+str[2]+str[4])
print(str[5:-2])

a
abc
n
fghijklmn
abcde
ace
fghijkl

In [75]:
str = "20221229Snow"
year = str[:4]
day = str[4:8]
weather = str[-4:]
print(year,day,weather)

2022 1229 Snow

In [85]:
str = "abbde"
str = str.replace("bb","bc",1)
str

'abcde'

# 문자열 fommating

In [87]:
print("I have %d apples."%2)
print("I have %s apples."%2)

I have 2 apples.
I have 2 apples.

In [93]:
number = 2
fruit = "apples"
print("I have %03d %s."%(number,fruit))

I have 002 apples.

In [97]:
# 문자열 정렬
print("I have 2 %10s."%"apples")
print("I have 2 %-10s."%"apples")

I have 2     apples.
I have 2 apples    .

In [96]:
print("%0.4f"%3.141592)
print("%10.4f"%3.141592)

3.1416
    3.1416

# 문자열 관련 함수

In [103]:
# 문자 Count 
str = "I have a dream."
print(str.count("a"))
print(len(str))

3
15

In [112]:
# 문자 위치 알려주기

print(str.find("e"))
print(str.index("e"))
# 없는 단어 찾을때
print(str.find("x"))

5
5
-1

In [110]:
str[str.find("e")]

'e'

In [113]:
# 문자열 삽입
str = ","
str.join('adcde')

'a,d,c,d,e'

In [115]:
str = "hi"
print(str.upper())
str = "HI"
print(str.lower())

HI
hi

In [121]:
# 문자열 바꾸기 
str = "Life is too short to be happy"
print(str.replace('happy','unhappy'))
print(str.split())
type(str.split())

Life is too short to be unhappy
['Life', 'is', 'too', 'short', 'to', 'be', 'happy']

list

In [122]:
str02 = 'a:b:c:d'
str02.split(':')

['a', 'b', 'c', 'd']

# 고급 문자열 Formatting

In [124]:
# 숫자 바로 대입하기
"I have {0} apples.".format(3)

'I have 3 apples.'

In [125]:
"I have {0} apples.".format('three')

'I have three apples.'

In [126]:
number = 10
day = 'three'
"I have {0}, apples, I will go abord for {1} days".format(number,day)

'I have 10, apples, I will go abord for three days'

In [132]:
# 왼쪽 정렬
print('{0:<10}'.format('hi'))

# 가운데 정렬
print('{0:^10}'.format('hi'))

# 오른쪽 정렬
print('{0:>10}'.format('hi'))

# 공백 채우기
print('{0:=^10}'.format('hi'))

hi
    hi
        hi
====hi====

In [134]:
# f문자열 formatting(Python 3.6이상)
name = '홍길동'
age = 30
f'나의 이름은 {name}이고 나이는 {age}세 입니다.'

'나의 이름은 홍길동이고 나이는 30세 입니다.'

In [135]:
f'나는 내년에 {age+1}살 입니다.'

'나는 내년에 31살 입니다.'

# 날짜형 변환

In [136]:
# 날짜형 모듈 불러오기
from datetime import datetime, timedelta

In [137]:
time1 = datetime(2022,12,25,21,0,0,0)
print(time1)

2022-12-25 21:00:00

In [152]:
# 날짜 계산하기
time2 = datetime.now()
print(time2)
print(time1 - time2)

print((time1 - time2).days,'일')
print((time1 - time2).seconds,'초')
print((time1 - time2).days*24 + math.floor((time1 - time2).seconds/60/60),'시간')

2022-06-22 16:18:17.382826
186 days, 4:41:42.617174
186 일
16902 초
4468 시간

In [154]:
# 특정 날짜로부터 시간 계산
time2 + timedelta(days=3)

datetime.datetime(2022, 6, 25, 16, 18, 17, 382826)

In [156]:
print(time2 + timedelta(days=1, hours= -2))

2022-06-23 14:18:17.382826