In [1]:
range(1,11)

range(1, 11)

In [2]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [4]:
list(range(10,0,-2))

[10, 8, 6, 4, 2]

In [2]:
list(range(0,10,-2))

[]

In [3]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [15]:
# 1에서 10까지의 제곱근으 출력하기
import math
for i in range(1,11):
    print("%2d : %0.8f"%(i,math.sqrt(i)))

 1 : 1.00000000
 2 : 1.41421356
 3 : 1.73205081
 4 : 2.00000000
 5 : 2.23606798
 6 : 2.44948974
 7 : 2.64575131
 8 : 2.82842712
 9 : 3.00000000
10 : 3.16227766

In [17]:
# 구구단 9단 출력
i = 9
for j in range(1,10):
    print(i, "X",j,"=","%2d"%(i*j))

9 X 1 =  9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [20]:
# 구구단 결과만 출력하기
for i in range(2,10):
    for j in range(1,10):
        print("%2d"%(i*j), end=' ')
    print()

 2  4  6  8 10 12 14 16 18
 3  6  9 12 15 18 21 24 27
 4  8 12 16 20 24 28 32 36
 5 10 15 20 25 30 35 40 45
 6 12 18 24 30 36 42 48 54
 7 14 21 28 35 42 49 56 63
 8 16 24 32 40 48 56 64 72
 9 18 27 36 45 54 63 72 81

In [21]:
# for문에 Tuple 사용하기
var = [(1,2),(3,4),(5,6)]
for first, last in var:
    print(first,":",last)

1 : 2
3 : 4
5 : 6

총 5명의 학생이 시험을 보았는데, 시험점수가 60점을 넘으면 합격이고 
<br>그렇지 않으면 불합격이다.
<br>합격, 불합격 보여주기

In [33]:
scores = [90,25,67,45,80]

for number in range(len(scores)):
    result = "합격" if scores[number]>=60 else "불합격"
    print("%d의 학생은 %s 입니다."%(number+1,result))

1의 학생은 합격 입니다.
2의 학생은 불합격 입니다.
3의 학생은 합격 입니다.
4의 학생은 불합격 입니다.
5의 학생은 합격 입니다.

In [36]:
scores = [90,25,67,45,80]
number = 0

for score in scores:
    number +=1
    result = "이므로 합격" if score>=60 else "이어서 불합격"
    print("%d의 학생은 점수가 %2d%s 입니다."%(number,score,result))

1의 학생은 점수가 90이므로 합격 입니다.
2의 학생은 점수가 25이어서 불합격 입니다.
3의 학생은 점수가 67이므로 합격 입니다.
4의 학생은 점수가 45이어서 불합격 입니다.
5의 학생은 점수가 80이므로 합격 입니다.

학생들 점수의 평균을 구하여 평균 점수보다 낮으면 불합격
<br>평균 점수보다 같거나 높으면 합격을 위의 출력과 같이 보여 주기

In [42]:
scores = [90,25,67,45,80]
number = 0
avg = 0

import numpy as np

# for score in scores:
#     number +=1
#     avg += score

# avg = avg/number
# number = 0

avg = np.mean(scores)
print("학급의 평균 점수는 %0.2f 입니다.\n"%avg)

for score in scores:
    number +=1
    result = "이므로 합격" if score>=avg else "이어서 불합격"
    print("%d의 학생은 점수가 %2d%s 입니다."%(number,score,result))

학급의 평균 점수는 61.40 입니다.

1의 학생은 점수가 90이므로 합격 입니다.
2의 학생은 점수가 25이어서 불합격 입니다.
3의 학생은 점수가 67이므로 합격 입니다.
4의 학생은 점수가 45이어서 불합격 입니다.
5의 학생은 점수가 80이므로 합격 입니다.

In [44]:
scores = [90,25,67,45,80]
number = 0
avg = 0

for score in scores:
    number +=1
    if score < 60:
        continue
    print("%d의 학생은 합격 입니다."%number)

1의 학생은 합격 입니다.
3의 학생은 합격 입니다.
5의 학생은 합격 입니다.

In [72]:
scores = [90,25,67,45,80]
number = 0
list = []

print('{0:^9}'.format('합격자 번호'))
print('-'*9)
for score in scores:
    number +=1
    if score < 60:
        continue
    list.append(number)
    print('{0:^9}'.format(list[len(list)-1]))

 합격자 번호
---------
    1
    3
    5

---
# 문장과 단어 추출

In [83]:
string = """나는 홍길동 입니다.
주소는 서울시 입니다.
나이는 35세 입니다."""

In [84]:
string

'나는 홍길동 입니다.\n주소는 서울시 입니다.\n나이는 35세 입니다.'

In [85]:
# 문단 -> 문장
sents = [] # 문장 저장
words = [] # 단어 저장
for sen in string.split("\n"):
    sents.append(sen)
    # 문장 -> 단어
    for word in sen.split(" "):
        words.append(word)
print(sents)
print(words)

['나는 홍길동 입니다.', '주소는 서울시 입니다.', '나이는 35세 입니다.']
['나는', '홍길동', '입니다.', '주소는', '서울시', '입니다.', '나이는', '35세', '입니다.']

In [88]:
var01 = [1,2,3,4]
var02 = []
#var02에 var01의 인덱스 번호에 각각 5를 곱하여 출력하기
for i in var01:
    var02.append(i*5)
var02

[5, 10, 15, 20]

In [89]:
var01 = [1,2,3,4]
var02 = [i * 5 for i in var01]
var02

[5, 10, 15, 20]

In [91]:
# var01의 데이터가 짝수인 경우에만 5를 곱하여 var02 list 만들기
var01 = [1,2,3,4]
var02 = [i * 5 for i in var01 if i%2==0]
var02

[10, 20]

In [96]:
# 구구단 결과만 리스트로 만들기
result = [i * j for i in range(2,10) for j in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [105]:
# 60점 이상의 학생 점수만 List로 만들어서 평균 출력하기(listed for문 사용)
import numpy as np
scores = [90, 25, 67, 45, 80]
print("합격한 학생들의 평균 점수는 %0.2f입니다"%np.mean([score for score in scores if score >= 60]))

합격한 학생들의 평균 점수는 79.00입니다